* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo {
  width: 20rem !important;
  height: 15vh;
  margin: 1rem;
}
body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
  background: linear-gradient(#d6d58e 60%, #d6d58e);
}

.container {
  width: 22rem;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards-container {
  width: 100%;
  background-color: #f29325;
  border-radius: 15px;
  padding: 10px;
}
.cards-container h1 {
  text-align: center;
  margin: 1rem;
  color: white;
}
.lng-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card {
  width: 10rem;
  height: 7rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 12px;
  background-color: #f4e2de;
  color: #023839;
}

.language-info {
  font-size: 12px;
  width: 100%;
}
li {
  list-style: none;
  text-align: center;
  padding-bottom: 0.5rem;
}
li::before {
  content: "\2022";
  margin-inline-end: 0.1ch;
}
img {
  width: 4rem;
  height: 4rem;
}
